1. 자료구조 Dictionary를 이용하여, if 문 없이 연도를 입력했을 때 윤년/평년을 판별하여 출력하
는 프로그램을 생성하시오.

4로 나누어 떨어지는 해:윤년
/평년은 365일

In [ ]:
# 윤년과 평년 판별을 위한 딕셔너리
leap_years = {
    True: "윤년",
    False: "평년"
}

# 사용자로부터 연도 입력받기
year = int(input("연도를 입력하세요: "))

# 윤년 여부 판별 (윤년이면 True, 아닐 경우 False)
is_leap_year = (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

# 결과 출력
print(leap_years[is_leap_year])

2. A 학생의 과목별 점수가 아래와 같을 때, 이 점수를 딕셔너리 형태로 선언하고, 평균을 계산하시오
A : 국어 75, 영어 53, 수학 90, 사회 46, 한국사 60, 세계사 70, 과학, 34
과목명은 Key값, 점수는 Value 값

In [ ]:
import numpy as np
score={'국어':75,'영어':53,'수학':90,'사회':46,'한국사': 60, '세계사': 70, '과학': 34 }
# 점수의 평균 계산
평균 = np.mean(list(score.values()))
# 결과 출력
print('평균:', 평균)

평균: 61.142857142857146

3. 어떤 수를 입력했을 때, 입력한 수가 홀수이면 True, 짝수이면 False를 출력하는 프로그램을 제
작하시오
if문을 사용 하지 않고 제작

In [ ]:
# 사용자로부터 입력받기
number = int(input("숫자를 입력하세요: "))

# 홀수 여부 판별 (홀수면 True, 짝수면 False)
result = number % 2 == 1

# 결과 출력
print(result)

숫자를 입력하세요: 6
False

4. For 반복문을 이용하여, 1부터 입력받은 수 까지 제곱 합을 구하는 프로그램을 만드시오.
Ex ) 1² + 2² + 3² + 4² + ... + n²

In [ ]:
# 사용자로부터 입력받기
n = int(input("숫자를 입력하세요: "))

# 제곱 합 계산
제곱합 = 0
for i in range(1, n + 1):
    제곱합 += i ** 2  # i의 제곱을 제곱합에 더함

# 결과 출력
print(f'1² + 2² + ... + {n}² = {제곱합}')

숫자를 입력하세요: 9
1² + 2² + ... + 9² = 285

#Python 라이브러리 사용관련 문제
사무용품을 렌탈해주는 회사에서 발생한 데이터(01_Data.csv)파일을 분석하고자 합니다.
Python의 Pandas 라이브러리로 아래의 문제를 해결해 보세요.

In [ ]:
import pandas as pd #엑셀표 판다스
trian=pd.read_csv('/content/drive/MyDrive/DSA_01/01_Data.csv')

5. 데이터 파일을 df1 변수로 선언하고, 데이터의 열개수와 행개수를 계산하시오.

#shape은 pandas 데이터프레임이나 NumPy 배열의 형태(행과 열의 개수)를 확인할 때 사용하는 속성입니다. shape은 튜플 형태로 (행 개수, 열 개수)를 반환합니다.

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/DSA_01/01_Data.csv')
df1
columns = df1.shape[0]  # 행 개수 0첫번쨰요소
rows = df1.shape[1]  # 열 개수 1 두번째요소
print(f'행 개수: {columns}, 열 개수: {rows}')
#51301 rows × 20 columns

NameError: name 'pd' is not defined

6. 데이터에서 고객들의 유입경로(Channel)을 분석하고자 한다. 유입경로(Channel)중 가장 많은
고객이 유입된 경로를 확인하시오.

value_counts()는 pandas의 Series 메서드 중 하나로, 특정 열(Series)에서 각 고유 값의 출현 빈도를 계산하여 반환

In [1]:
Channel_counts = df1['Channel'].value_counts() #pandas의Series에서vaule_caunts()특정열 빈도 수 구할수있음

# 가장 많은 고객이 유입된 경로 확인
가장_많은_유입경로 = Channel_counts.idxmax()  # 가장 많이 유입된 경로,idxmax()기능: Series에서 가장 큰 값의 인덱스를 반환합니다.
가장_많은_고객수 = Channel_counts.max()     # 해당 경로의 고객 수 max()기능: Series에서 가장 큰 값을 반환합니다.용도: 특정 열의 최대값

print(f'가장 많은 고객이 유입된 경로: {가장_많은_유입경로}, 고객 수: {가장_많은_고객수}')

NameError: name 'df1' is not defined

7. 데이터에서 고객들이 가장 많이 계약한 제품군(Product_Type)을 분석하고자 한다. 제품군
(Product_Type)에는 어떤 데이터가 있는지 확인하시오

In [ ]:
Product_Type_count=df1['Product_Type'].value_counts() #pandas의Series에서vaule_caunts()특정열 빈도 수 구할수있음
가장_많이_계약한_제품군=Product_Type_count.idxmax() # 가장 많이 유입된 경로,idxmax()기능: Series에서 가장 큰 값의 인덱스를 반환합니다.
print(f'가장 많은 고객이 계약한 제품군: {가장_많이_계약한_제품군}')

NameError: name 'df1' is not defined

value_counts()
용도: 특정 열이나 시리즈에서 고유 값의 개수를 세고, 각 고유 값이 몇 번 나타나는지를 계산합니다.
결과: 고유 값과 그 빈도를 포함하는 시리즈를 반환합니다.

shape
용도: 데이터프레임이나 시리즈의 차원(행과 열의 수)을 확인하는 데 사용됩니다.
결과: 튜플 형태로 (행 수, 열 수)를 반환합니다.

In [ ]:
Product_Type_count
print(Product_Type_count)

NameError: name 'Product_Type_count' is not defined

8.데이터에서 고객들이 결제하는 은행(Bank)를 확인하고자 한다. 결제은행(Bank)항목에서 '신한카드'로 결제하는 고객들의 수를 확인하시오.

In [ ]:
from google.colab import files
cond1=(df1['Bank']=='신한은행')
df1.loc[cond1] #신한은행으로 지정

NameError: name 'df1' is not defined

In [ ]:
# 신한카드로 결제하는 고객 수 계산
Bank_count = df1['Bank'].value_counts().get('신한카드', 0)  # 신한카드의 개수

print(f'신한카드로 결제하는 고객들의 수: {Bank_count}')

#df1['Bank']:
#데이터프레임 df1에서 Bank라는 열을 선택합니다. 이 열은 고객의 결제 은행 정보를 포함하고 있습니다.
#value_counts():
#선택한 Bank 열의 고유 값(은행 이름)과 그 값의 빈도를 계산하여 시리즈로 반환합니다. 예를 들어, '신한카드'가 3번 나타나면 value_counts()는 다음과 같은 결과를 반환합니다
#get('신한카드', 0):
#value_counts()의 결과에서 '신한카드'의 개수를 가져옵니다. 만약 '신한카드'가 데이터에 없다면, 기본값으로 0을 반환합니다.
#즉, get 메서드는 첫 번째 인자로 지정한 키(여기서는 '신한카드')가 존재할 경우 그 값을 반환하고, 존재하지 않을 경우 두 번째 인자로 지정한 기본값(여기서는 0)을 반환합니다.

NameError: name 'df1' is not defined

9. 유입경로(Channel)에서 '대형마트A'로 유입된 고객들 중, 연체건수(Overdue_count)가 높은
상위 30명의 계약 명단을 추출하여 result4.xlsx 저장하시오

In [ ]:
cond1=(df1['Channel']=='대형마트A')
df1.loc[cond1]#대형마트으로 지정

NameError: name 'df1' is not defined

In [ ]:

df1.loc[cond1].sort_values(by='Overdue_count',ascending=False).head(30).to_excel('result.xlsx')
#mart=cord1.sort_values(by='Overdue_count',ascending=False).head(30)

#mart.to_excel('result4.xlsx',index=False) #내림차순,상위30개,엑셀표저장
#files.download('result4.xlsx')


#질문 대형마트 중에서 연체건수가 높은 30를 고르는 건데, 나는 연체건수가 상위 30만 추출됨

10. 월랜탈비용(Amount_Month)이 15만원 이상인 고객들 중 판매유형(Sales_Type)이 '렌탈'에
해당하는 고객만 추출하여, 해당 데이터의 행(index) 개수를 확인하시오.

In [ ]:
cond1=(df1['Sales_Type']=='랜탈')
cond2=(df1['Amount_Month']>=150000)

# 조건에 맞는 고객 추출
filtered_customers = df1.loc[cond1 & cond2]

# 행(index) 개수 확인
row_count = filtered_customers.shape[0]

# 결과 출력
print(f'월랜탈비용이 15만원 이상이고 판매유형이 "렌탈"인 고객의 수: {row_count}')

월랜탈비용이 15만원 이상이고 판매유형이 "렌탈"인 고객의 수: 0

11. 제품군(Product_Type)중 빈도수가 가장 높은 상위 3개의 항목을 추출하여, df2로 선언한 뒤,
계약일자(Datetime)에 따른 월렌탈비용(Amount_Month)의 합을 계산해 result5.xlsx파일로 저
장하시오.

In [ ]:
df2=df1.sort_values(by='Product_Type',ascending=False).head(3)
df2

NameError: name 'df1' is not defined

In [ ]:
result = df2.groupby('Datetime')['Amount_Month'].sum().reset_index()

# 결과를 Excel 파일로 저장

result.to_excel('result5.xlsx', index=False)
files.download('result5.xlsx')

df2.groupby('Datetime'):
df2 DataFrame을 Datetime 열의 값에 따라 그룹화합니다. 즉, 동일한 날짜를 가진 행들을 하나의 그룹으로 묶습니다.


['Amount_Month']:
그룹화된 결과에서 Amount_Month 열을 선택합니다. 이 열은 월렌탈비용을 나타내며, 그룹화된 각 날짜에 대해 이 값을 사용할 것입니다.

.sum():
선택된 Amount_Month 열의 값들을 그룹별로 합산합니다. 즉, 각 날짜별로 월렌탈비용의 총합을 계산합니다.

.reset_index():
그룹화된 결과는 기본적으로 인덱스가 그룹화된 키(여기서는 Datetime)로 설정됩니다. reset_index()를 사용하면 이 인덱스를 기본 숫자 인덱스로 되돌리고, 그룹화된 키를 다시 DataFrame의 열로 추가합니다. 이렇게 하면 결과가 더 쉽게 읽을 수 있는 형태가 됩니다.